<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart_empty</title>
</head>
<body>
    <%- include('header.ejs') %>

    <div>
        <h2>장바구니</h2>
        <div>
            장바구니를
            고객님이 갖고 싶은 상품으로
            가득 채워보세요.
            <br>
            장바구니 이용은 공짜입니다

        </div>
    </div>








    <%- include('footer.ejs') %>
</body>
</html>