<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    body {
        font-family: Helvetica Neue,Helvetica,Apple SD Gothic Neo,Arial,sans-serif;
    }
    .title {
        font-size: 24px;
    }
    .smallFont {
        font-size: 12px;
    }
    .input {
        width: 360px;
        height: 40px;
    }

    .btn {
        width: 360;
    }
</style>
</head>
<body>
    <hr />
    <div align="center">
        <table>
           <tr>
            <td><h4>SNS 간편 로그인</h4></td>
           </tr>
           <tr>
            <td><button style="width: 368px; height: 32px; background-color: #2db400; border: none; border-radius: 3px; color:white; font-size: 12px;" >네이버 계정으로 로그인</button></td>
           </tr>
           <tr>
            <td><button style="width: 368px; height: 32px; background-color: #3a5998; border: none; border-radius: 3px; color:white; font-size: 12px;">페이스북 계정으로 로그인</button></td>
           </tr>
           <tr>
            <td><button style="width: 368px; height: 32px; background-color: #FBE400; border: none; border-radius: 3px; font-size: 12px;">카카오톡 계정으로 로그인</button></td>
           </tr>
        </table>
    </div>
</body>
</html>